*.cmake
Makefile
*.so
*.log
*.a
*.o
*.obj
*.dll
*.dylib
*.exe
*.out
*.bin
linux-x86_64-cpython-310/*
*.ninja_deps
*.ninja_log
*.ninja*
CMakeFiles/
int8_ada.egg-info/
*.PKG-INFO
__pycache__/
CMakeCache*
*.egg-info/